{% extends 'partials/base.html' %}
{% load static %}
{% block meta_header %}
    <title>Belle Vista | Insurance Agency</title>
    <meta name="description" content="Belle Vista Agency">
    <meta property="og:title" content="Belle Vista | Insurance Agency">
    <meta property="og:description" content="Belle Vista Agency">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bvagency.org">
    <meta property="og:image" content="{% static 'img/logo/logo.png' %}" />

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Place favicon.ico in the root Internist, General Practitonery -->
{% endblock meta_header %}
{% block content %}
<!-- slider-area -->
<section id="home" class="slider-area fix p-relative">
    <div class="slider-active2">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({% static 'img/an-bg/header-bg.png' %})">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="slider-content s-slider-content text-left">
                            <h2 data-animation="fadeInUp" data-delay=".4s">Expert <span>Advice.</span><br>Tailored Coverage.<br>Peace of Mind.</h2>
                            <p data-animation="fadeInUp" data-delay=".6s">At Belle Vista, we don’t just sell insurance—we craft solutions that fit your unique needs. Because when it comes to your future, you deserve confidence, not compromise.</p>
                            <div class="slider-btn mt-25">                                          
                                <a href="{% url 'core:index' %}#about" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Learn More <i class="fas fa-chevron-right"></i></a>					
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="{% static 'img/bg/header-img.png' %}" alt="header-img" class="header-img"/>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</section>
<!-- slider-area-end -->

<!-- services-area -->
<section id="services" class="services-area services-bg services-two pt-30"  style="background-image:url({% static 'img/an-bg/an-bg02.png' %}); background-size: contain; background-repeat: no-repeat;background-position: center center;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title text-center pl-40 pr-40 mb-80" >
                    <span> our services</span>
                    <h2>Our Special Services For You</h2>
                    <p class="mt-10">With decades of experience and a client-first approach, we help you navigate risks, secure the right coverage, and protect what matters most.</p>
                </div>
            </div>
        </div>
        <div class="row sr-line">
            <div class="col-lg-4 col-md-12">
                <div class="s-single-services text-center active" >
                    <div class="services-icon">
                        <img src="{% static 'img/icon/sr-icon01.png' %}" alt="img">
                    </div>
                    <div class="second-services-content">
                        <h5><a href="javascript:void(0)">Business Insurance</a></h5>       
                        <p>We provide comprehensive business insurance nationwide</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                    <div class="s-single-services text-center" >
                    <div class="services-icon">
                        <img src="{% static 'img/icon/sr-icon02.png' %}" alt="img">
                    </div>
                    <div class="second-services-content">
                        <h5><a href="javascript:void(0)">Personal Insurance</a></h5>       
                        <p>We provides specialized insurance programs and personal risk management for individuals and families</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="s-single-services text-center" >
                    <div class="services-icon">
                        <img src="{% static 'img/icon/sr-icon03.png' %}" alt="img">
                    </div>
                    <div class="second-services-content">
                        <h5><a href="javascript:void(0)">Financial Services</a></h5>       
                        <p>We offer financial services products to a wide range of businesses and individuals</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services-area-end -->

<!-- about-area -->
<section id="about" class="about-area about-p p-relative pt-30" style="background-image:url({% static 'img/an-bg/an-bg03.png' %}); background-size: contain; background-repeat: no-repeat;background-position: center center;">
    <div class="container">
        <div class="row align-items-center">					
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="s-about-img p-relative">
                    <img src="{% static 'img/bg/illlustration.png' %}" alt="img">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="about-content s-about-content pl-30">
                    <div class="section-title mb-20">
                        <span>About Us</span>
                        <h2>Family-Owned. Trusted for Generations.</h2>                                  
                    </div>
                    <p>For decades, Belle Vista has been more than just an insurance broker—we’ve been a family committed to protecting yours. As a locally owned and operated business, we understand the value of trust, personalized service, and long-term relationships. From our family to yours, we take pride in offering expert guidance, tailored coverage, and unwavering support—because your peace of mind is our legacy.</p>
                    <p>Built on integrity. Strengthened by experience. Here for your future.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area-end -->

<!-- counter-area -->
<div class="counter-area pt-30" style="background-image:url({% static 'img/an-bg/an-bg04.png' %}); background-repeat: no-repeat; background-size: contain; ">
    <div class="container">
        <div class="row align-items-end">
                <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-counter text-center" >
                    <img src="{% static 'img/icon/cunt-icon01.png' %}" alt="img">
                    <div class="counter p-relative">
                        <span class="count">36</span><small>+</small>                                   
                    </div>
                    <p>Licensed in 36+ States</p>                               
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-counter text-center" >
                    <img src="{% static 'img/icon/cunt-icon02.png' %}" alt="img">
                    <div class="counter p-relative">
                        <span class="count">1000</span><small>+</small>                                   
                    </div>
                    <p>Happy Customers</p>                               
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-counter text-center" >
                        <img src="{% static 'img/icon/cunt-icon03.png' %}" alt="img">
                    <div class="counter p-relative">
                        <span class="count">10,000</span><small>+</small>                       
                    </div>
                    <p>Quotes & Counting</p>                               
                </div>
            </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-counter text-center" >
                        <img src="{% static 'img/icon/cunt-icon04.png' %}" alt="img">
                    <div class="counter p-relative">
                        <span class="count">200</span><small>+</small>                      
                    </div>
                    <p>Winning Awards</p>                                
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter-area-end -->	

<!-- department-area -->
<section id="missions" class="department-area cta-bg pt-30 mt-10 fix" style="background-image:url({% static 'img/an-bg/an-bg05.png' %}); background-size: contain;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title mb-50  " >
                    <span>OUR MISSION</span>
                    <h2>At Belle Vista, YOU are the PRIORITY!</h2>
                </div>
                <ul>
                    <li>
                        <div class="icon">
                            <div><img src="{% static 'img/icon/de-icon01.png' %}" alt="de-icon"></div></div> 
                        <a href="javascript:void(0)" class="text">
                            <h3>Commitment you can count on!</h3>
                            It’s the foundation of everything we do. We’re dedicated to protecting what matters most to you with unwavering reliability.
                        </a>
                    </li>
                    <li>
                        <div class="icon">
                            <div><img src="{% static 'img/icon/de-icon02.png' %}" alt="de-icon"></div></div> 
                            <a href="javascript:void(0)" class="text">
                            <h3>Solution Oriented Team!</h3>
                            Our team thrives on finding smarter, faster, and more tailored ways to protect what matters most to you.
                        </a>
                    </li>
                    <li>
                            <div class="icon">
                            <div><img src="{% static 'img/icon/de-icon03.png' %}" alt="de-icon"></div></div> 
                        <a href="javascript:void(0)" class="text">
                            <h3>Your time matters - Our Speed Delivers!</h3>
                            We pride ourselves on delivering rapid, reliable results without cutting corners. Our efficiency is your advantage.
                        </a>
                    </li>                   
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="s-d-img p-relative">
                    <img src="{% static 'img/bg/de-illustration.png' %}" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- department-area-end -->			
<!-- partner-area-->
<section id="partners" class="pt-30" style="background-image:url({% static 'img/an-bg/an-bg13.png' %}); background-size: contain;background-position: center center;background-repeat: no-repeat;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="section-title" >
                <span>OUR PARTNERS</span>
            </div>
            <div class="col-lg-12">
                <div class="p-relative">
                    <img src="{% static 'img/partner/partner.png' %}" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- partner-area-end -->

<!-- blog-area -->
{% if blogs %}
<section id="blog" class="blog-area p-relative pt-30 fix" style="background-image:url({% static 'img/an-bg/an-bg10.png' %}); background-size: contain;background-repeat: no-repeat;background-position: center center;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="section-title text-center" >
                    <span> OUR BLOGS </span>
                </div>
            </div>
        </div>
        <div class="row">
            {% for blog in blogs  %}
            <div class="col-lg-4 col-md-12">
                <div class="single-post mb-30" >
                    <div class="blog-thumb">
                        <a href="{% url 'core:blog-detail' blog.slug %}">
                            {% if blog.image %}
                                <img src="{{ blog.image.url }}" alt="img">
                                <img src="{% static 'img/bg/b-link.png' %}" alt="b-link" class="b-link">
                            {% endif %}
                        </a>
                    </div>
                    <div class="blog-content text-center">     
                        <div class="b-meta mb-20">
                            <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                    <i class="far fa-calendar-alt"></i>  {{ blog.created_at|date:"d M, Y" }}
                                    </div>
                                <div class="col-lg-6 col-md-6">
                                    <i class="fas fa-user"></i> By Admin
                                    </div>
                                </div>
                        </div>
                        <h4><a href="{% url 'core:blog-detail' blog.slug %}">{{ blog.title|truncatewords:80 }}</a></h4>    
                            <p>{{ blog.mini_description|truncatewords:30 }}</p>    
                            <div class="blog-btn"><a href="{% url 'core:blog-detail' blog.slug %}">Read More<i class="fas fa-chevron-right"></i></a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
<!-- blog-area-end -->

<!-- contact-area -->
<section id="contact" class="contact-area contact-bg p-relative fix pt-30" style="background-image:url({% static 'img/an-bg/an-bg11.png' %}); background-size: cover;background-repeat: no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-30">
                    <img src="{% static 'img/bg/touch-illustration.png' %}" alt="touch-illustration">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title" >
                    <span>Contact</span>
                    <h2>Get In Touch With Us</h2>
                </div>
                <form method="POST" id="contact-form-ajax" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contact-field p-relative c-name mb-20">                                    
                                <input type="text" name="first_name" id="first_name" placeholder="First Name" required="">
                            </div>                               
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-field p-relative c-name mb-20">                                    
                                <input type="text" name="last_name" id="last_name" placeholder="Last Name" required="">
                            </div>                               
                        </div>
                        <div class="col-lg-12">                               
                            <div class="contact-field p-relative c-email mb-20">                                    
                                <input type="text" name="email" id="email" placeholder="Write here your email" required="">
                            </div>                                
                        </div>
                        <div class="col-lg-12">                               
                            <div class="contact-field p-relative c-subject mb-20">                                   
                                <input type="text" name="subject" id="subject" placeholder="I would like to discuss" required="">
                            </div>
                        </div>							
                        <div class="col-lg-12">
                            <div class="contact-field p-relative c-message">                                  
                                <textarea name="message" id="message" cols="30" rows="10" placeholder="Write comments" required=""></textarea>
                            </div>
                            <div class="slider-btn">
                                <button type="submit" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Send Message</button>				
                            </div>                             
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- contact-area-end -->
{% endblock content %}